<div class="likebuttons">
  <div class="linkedin" style="float: left; margin-left: 10px; padding-top: 4px">
      <script type="IN/Share" data-counter="right"></script>
  </div>
  <div class="twitter" style="float: left; margin: 0px; padding-top: 3px">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="BootstrapJersey" data-count="none">Tweet</a>
  </div>
  <div class="fb-like" {{bindAttr data-href="posturl"}} data-font="lucida grande" data-send="false" data-show-faces="false" data-width="350" ref="title" style="float: left; margin-left: 10px">
  </div>
</div>
