<h3>{{view.title}}</h3>
<div><input type='text' /></div>
<div class="likebuttons">
  {{{facebookl}}}
  <div class="linkedin" style="margin-top: 4px">
      <script type="IN/Share" data-counter="right"></script>
  </div>
  {{{twitterl}}}
</div>

<div class='link'>
  <a href='#' {{action close target="controller"}}>close</a>
</div>
