<h3>{{view.title}}</h3>
<div><input type='text' /></div>
<div class="likebuttons">
  <div class="fb-like" {{bindAttr data-href="posturl"}} data-font="lucida grande" data-send="true" data-show-faces="true" data-width="280" ref="share">
  </div>
  <div class="linkedin" style="margin-top: 4px">
      <script type="IN/Share" data-counter="right"></script>
  </div>
  <a href="https://twitter.com/share" class="twitter-share-button" {{bindAttr data-url="posturl"}} data-via="BootstrapJersey">Tweet</a>
</div>

<div class='link'>
  <a href='#' {{action close target="controller"}}>close</a>
</div>
